* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Montserrat:700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #0d47a1;
}

main{
  margin-bottom: 20px;

}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

i img{
  height: 40px;
  width: 40px;
  display: block;
}

.container {
  padding: 0 10px;
}

.btn {
  display: block;
  max-width: 150px;
  letter-spacing: 1px;
  text-transform: capitalize;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  font-size: bold;
  padding: 10px;
  border-radius: 10px;
}

.heading{
  text-align: center;
padding: 20px 0;

}
/* Header Style  */

.logo {
  color: #3f51b5;
  font-size: 24px;
  font-weight: bold;
  display: block;
  letter-spacing: 3px;
  margin-right: auto;
}

.logo::first-letter {
  color: #ff5722;
}

.secondary-btn {
  background: #ff5722;
  color: #ffffff;
  transition: all 0.5s ease;
}
.secondary-btn:hover {
  outline: 1px solid #ff5722;
  color: #ff5722;
  background: #ffffff;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-link {
  color: #0d47a1;
  display: block;
  font-size: 14px;
}

.nav-link:hover {
  color: #ff5722;
}

/* Hero  */

.heroWrapper {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.hero-article {
  position: absolute;
  inset: 0;
}

.article-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  background: rgba(0, 0, 0, 0.4);
}

.article-overlay h2 {
  letter-spacing: 2px;
  color: #3f51b5;
  font-size: 2rem;
}

.article-overlay p {
  color: #d1cece;
  font-size: 1.2rem;
}

/* About  */

.aboutWrapper {
  color: #333333;
  padding: 10px;
  background: #dcdfef;
}



.about-text {
  line-height: 30px;
  padding: 30px;
}

/* Review  */

.review {
  max-width: 650px;
  margin: auto;
}

.review-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.review:nth-child(2) .review-content {
  flex-direction: row-reverse;
}

.review-img {
  display: block;
  width: 50%;
}

.review-text {
  width: 50%;
  background: rgba(255, 0, 0, 0.5);
  text-align: center;
  padding: 20px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-text p {
  color: white;
  font-family: "Open Sans", sans-serif;
  line-height: 40px;
  padding: 0 20px;
}

/* Card  */

.cardRow{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 1200px;
  margin: 140px auto auto;
}

.card{
  width: 100%;
  border: 2px solid rgba(255, 0, 0, 0.5);
  max-width: 350px;
  padding: 10px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  height: 550px;
}

.card-head {
  height: 200px;
  position: relative;
}
.card-head h4{
 position: absolute;
 top: 0;
 right: 0;
 padding: 10px;
 background: #ff5722;
 border-top-right-radius: 12px;
 border-bottom-left-radius: 12px;
 color: #ffffff;
}

.card-head img{
  border-radius: 12px;
  overflow: hidden;
}


.card-body{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.card-body p{
  line-height: 30px;
  color: #333333;
font-weight: 300;
}

/* Place  */

.place-heading{
  position: relative;
  height: 200px;
  background-image: url(/images/hero3.jpg);
 background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.place-heading p{
font-size: 20px;
color: #333333;
color: white;
}

.place-heading::before{
content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Transport  */

.transport-heading {
  width: 100%;
  position: relative;
  height: 400px;
  background-image: url(/images/hero2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.transport-heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.2);


}

.transport-heading h3 {
  font-size: 2rem;
  text-align: center;
}

.transport {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px 10px;
}

.transport-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.transport-text {
  width: 50%;
  height: 100%;
  background: rgba(255, 0, 0, 0.5);
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.transport-img {
  width: 50%;
}

.transport-img iframe {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
  width: 100%;
  border: none;
}

.transport-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.transport-list li {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  color: #333333;
}

/* Tips  */

.tips {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;

}

.tips article {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.6);
}

.tips article p {
  padding-left: 50px;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: 1px;
}


/* Footer  */

footer {
  padding: 0 10px;
  background: #dcdfef;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footerLinks {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: auto;
}

.footer-text {
  width: 100%;
}



/* Media Queries */

@media screen and (max-width: 600px) {
  nav {
    justify-content: center;
    gap: 20px;
  }

  .logo {
    width: 100%;
    text-align: center;
  }

  .navLinks {
    width: 100%;
    gap: 0;
  }

  /* Review  */

  .review-content {
    flex-direction: column;
    height: auto;
  }

  .review-img {
    width: 100%;
    max-height: 300px;
  }

  .review-text {
    width: 100%;
  }

  .review:nth-child(2) .review-content {
    flex-direction: column;
  }

  /* Card  */

    .cardRow {
  padding: 0 20px;
  margin: auto;
    }

    .card {
      min-width: 100%;
      height: auto;
    }

        .card-head {
          max-height: 60%;
        }
        .card-body {
          height: 40%;
        }

    /* Transport  */

   .transport-content {
  flex-direction: column-reverse;
  }

    .transport-text {
      width: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

    }
  
    .transport-img {
      width: 100%;
      height: 300px;
    }
    .transport-img iframe {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 0;
      }

      /* Tips  */

    .tips article p {
      padding-left: 25px;

    }

  /* Footer  */

  footer {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .footer-text {
    text-align: center;
  }

  .footerLinks {
    margin: auto;
  }
}
